YNAB Property Value Tracker/YNAB Property Value Tracker.json
{
  "name": "YNAB Property Value Subworkflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        144
      ],
      "id": "d46c4d7e-10ff-498c-a009-9f684bd895f4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "288b3077-cf0f-4e97-b8ee-460cbd788e54",
              "name": "rentcast_api",
              "value": "={{ $json.rentcast_api }}",
              "type": "string"
            },
            {
              "id": "18b6218a-822d-4458-9cfd-abd3e9682139",
              "name": "ynab_api",
              "value": "={{ $json.ynab_api }}",
              "type": "string"
            },
            {
              "id": "18f5b320-426b-4d62-97e4-dbfc2b9698be",
              "name": "address",
              "value": "={{ $json.address }}",
              "type": "string"
            },
            {
              "id": "87861b17-9350-4c75-aea1-e802a4801dbe",
              "name": "propertyType",
              "value": "={{ $json.propertyType }}",
              "type": "string"
            },
            {
              "id": "c0e713a4-aad3-4d6f-b757-232ee6e148bd",
              "name": "bedrooms",
              "value": "={{ $json.bedrooms }}",
              "type": "number"
            },
            {
              "id": "96902f6b-ba5a-45af-9ccc-a354e915bf52",
              "name": "bathrooms",
              "value": "={{ $json.bathrooms }}",
              "type": "number"
            },
            {
              "id": "9e0e7ad0-1eac-47cf-a9c4-77d9abb55d88",
              "name": "squareFootage",
              "value": "={{ $json.squareFootage }}",
              "type": "number"
            },
            {
              "id": "6a079c8e-e3f2-455c-8749-d5f0634ea2c5",
              "name": "ynab_budget",
              "value": "={{ $json.ynab_budget }}",
              "type": "string"
            },
            {
              "id": "c4bce4a9-816f-4c72-a1d3-84181a2c1c63",
              "name": "ynab_account",
              "value": "={{ $json.ynab_account }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        48
      ],
      "id": "e6ee1747-c27b-4cfc-94fd-4e3aa9daea9d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.ynab.com/v1/budgets/{{$('Edit Fields').item.json.ynab_budget}}/accounts/{{$('Edit Fields').item.json.ynab_account}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.ynab_api }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        48
      ],
      "id": "73000abb-1a23-4f86-a091-d47973c40710",
      "name": " YNAB Asset Value"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce68c03d-a486-4fb1-a688-5b4b92b79b14",
              "name": "data.account.balance",
              "value": "={{ $json.data.account.balance /1000}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        48
      ],
      "id": "f36fdf71-cc82-4c9f-a3e4-2201a34a40a6",
      "name": "Get Value"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1c3b354c-9fc2-4468-8130-1c14bc674645",
              "leftValue": "={{ Math.round(($('Get Property Value').item.json.price * 1000) - $('Get Value').item.json.data.account.balance * 1000) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        48
      ],
      "id": "8cd50113-3a53-43fa-a0a9-d381d49d7ad0",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.rentcast.io/v1/avm/value?address={{encodeURIComponent($json.address)}}&propertyType={{encodeURIComponent($json.propertyType)}}&bedrooms={{$json.bedrooms}}&bathrooms={{$json.bathrooms}}&squareFootage={{$json.squareFootage}}&compCount=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $json.rentcast_api }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        48
      ],
      "id": "e81cd156-355e-4add-8f1c-783f2910b87a",
      "name": "Get Property Value"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.ynab.com/v1/budgets/{{ $('Edit Fields').item.json.ynab_budget }}/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Edit Fields').item.json.ynab_api }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transaction\": {\n    \"account_id\": \"{{ $('Edit Fields').item.json.ynab_account }}\",\n    \"date\": \"{{$today.format('yyyy-MM-dd')}}\",\n    \"amount\": {{ Math.round(($('Get Property Value').item.json.price * 1000) - $('Get Value').item.json.data.account.balance * 1000) }},\n    \"payee_name\": \"n8n\",\n    \"memo\": \"n8n adjustment from rentcast.io\",\n    \"cleared\": \"reconciled\",\n    \"approved\": true,\n    \"flag_color\": \"yellow\",\n    \"subtransactions\": [],\n    \"import_id\": \"{{ $json.data }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        -48
      ],
      "id": "a5d5449c-be98-4f57-81d8-23c625fcf9aa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1344,
        -48
      ],
      "id": "639257f6-0f8e-4306-bdeb-32f7d1bf4536",
      "name": "Crypto"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "rentcast_api"
            },
            {
              "name": "ynab_api"
            },
            {
              "name": "address"
            },
            {
              "name": "propertyType"
            },
            {
              "name": "bedrooms",
              "type": "number"
            },
            {
              "name": "squareFootage",
              "type": "number"
            },
            {
              "name": "ynab_budget"
            },
            {
              "name": "ynab_account"
            },
            {
              "name": "bathrooms",
              "type": "number"
            }
          ]
        }
      },
      "id": "d1740d6a-2c15-4bfc-9ccd-37ab0834a707",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        16,
        48
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=No change in property value\nAddress: {{ $('Edit Fields').item.json.address }}\nValue: {{ '$' + ($('Get Value').item.json.data.account.balance).toLocaleString('en-US') }}",
        "options": {
          "avatar_url": "https://www.iconsdb.com/icons/download/navy-blue/house-64.png",
          "username": "n8n Equity Watcher"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1568,
        144
      ],
      "id": "b12c0b5d-21a5-450c-907e-111d0ed59cfb",
      "name": "Discord No Change",
      "webhookId": "2dbc856f-8ac7-46ee-92df-46157dd4ed35",
      "credentials": {
        "discordWebhookApi": {
          "id": "jtusjd0AfNR35Ocl",
          "name": "Discord Webhook Budget Items"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=💵 Property Value Changed \nAddresss: {{ $('Edit Fields').item.json.address }}\nValue: {{ '$' + ($('Get Property Value').item.json.price).toLocaleString('en-US') }}\n\n",
        "options": {
          "avatar_url": "https://www.iconsdb.com/icons/download/navy-blue/house-64.png",
          "username": "n8n Equity Watcher"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1824,
        -48
      ],
      "id": "8d434762-5406-45a4-bdab-111f5e63d9c5",
      "name": "Discord Changed",
      "webhookId": "2dbc856f-8ac7-46ee-92df-46157dd4ed35",
      "credentials": {
        "discordWebhookApi": {
          "id": "jtusjd0AfNR35Ocl",
          "name": "Discord Webhook Budget Items"
        }
      }
    },
    {
      "parameters": {
        "content": "## YNAB Property Value\n### Leverages the rentcast.io api to fetch approximate value of real estate. \n### It then creates an adjustment transaction in YNAB to reflect the asset value. \n### Rentago provides 50 free api requests per month, then its $0.20 per request. \n",
        "height": 688,
        "width": 2064
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -240
      ],
      "typeVersion": 1,
      "id": "9d58ca53-e05e-4cae-ad81-c6198cb15834",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### rentago.io api fetch",
        "height": 256,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -32
      ],
      "typeVersion": 1,
      "id": "693b592c-0e99-4851-9d03-15a355821e15",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### If property value has changed 0 dollars, do nothing.\n",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        -32
      ],
      "typeVersion": 1,
      "id": "8ddbddb4-009f-4886-bd1d-c1571e25c186",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Compare rentago property value with the current asset value in YNAB",
        "height": 256,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -32
      ],
      "typeVersion": 1,
      "id": "8e9ef8fb-002a-48ba-94e4-72b58a807ec7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### This workflow is intended to be a subworkflow that can be called multiple times (once per property)",
        "height": 256,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -32
      ],
      "typeVersion": 1,
      "id": "0d4a761c-9789-4af8-b0a1-587434aa311a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Create adjustment transaction in YNAB\n",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        -128
      ],
      "typeVersion": 1,
      "id": "88898c45-2502-4cb0-8187-de6d8efc9b5d",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Property Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " YNAB Asset Value": {
      "main": [
        [
          {
            "node": "Get Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Value": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Discord Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property Value": {
      "main": [
        [
          {
            "node": " YNAB Asset Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Discord No Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dba17b05-6291-482b-8e8c-dcec6454254a",
  "meta": {
    "instanceId": "ae3a7d69e340d9eec0196c03fd00e81b6e376d3084103c5850dd2cee1ac033f6"
  },
  "id": "d3bI8kfQ6uKjfER3",
  "tags": []
}